{% extends "base.html" %}

{% block thebody %}

    <h2>{{title}}</h2>

    <h4>How to play...</h4>
        <p>
        You will be provided with a word of seven letters or more which we'll call the "sourceword". You are then to think up seven three-or-more letter words made up from the letters contained within the sourceword, ensuring that:
        </p>
        <ul>
            <li>Each word is only made up from the letters contained within the sourceword.
            <li>Each word exists within the dictionary (i.e., it's a “real” word).
            <li>The words all have three letters or more.
            <li>There are no duplicate words.
            <li>None of the seven words is the source word. 
            <li>And don't forget: case is NOT significiant (Pet, PET, and pet are the *same* word).
        </ul>

    <a href='/startgame'><button>Let's play!</button></a>

{% endblock %}
